* {
  margin: 0;
  padding: 0;
}
:root {
  --navbar-height: 60px;
}
#logo img {
  margin: 15px 20px;
  height: 70px;
}
#navbar {
  display: flex;
  position: relative;
  align-items: center;
  top: 0px;
}
#navbar ul {
  display: flex;
}
#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}
#navbar ul li {
  list-style: none;
  font-size: 1rem;
}
#navbar ul li a {
  display: block;
  color: rgb(21, 1, 1);
  padding: 4px 20px;
  border-radius: 20px;
  font-size: large;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 600;
}
#navbar ul li a:hover {
  background-color: antiquewhite;
  border-radius: 15px;
  color: black; 
}


#home{
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 500px;
  justify-content: center;
  align-items: center;
}
#home::before{
  content: "";
  background: url("https://i.pinimg.com/1200x/78/7f/d1/787fd1f67b2bbf93bf1b36f46ab61606.jpg")no-repeat center center/cover;
  position: absolute;
  top:0;
  left:0px;
  height: 500px;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}
#home h1{
  color: yellow;
  text-align: center;
  font-size: 2.5rem;
 
}
#home p{
  color: rgb(14, 13, 13);
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
  line-height: 40px;

}
.btn{
  margin: 17px;
  padding: 14px 31px;
  border: 2px solid ;
  background-color: yellow;
  color: black;
  font-size: 1.0rem;
  cursor: pointer;
  border-radius: 25px;
}
.btn:hover{
  background-color: rgb(81, 82, 80);
  color:white;

}
